# requirements.txt
      flask 
      sqlalchemy 
      flask_sqlalchemy 
      psycopg2-binary 
      flask_jwt_extended 
      flask_cors 
      requests 
      gunicorn
      Werkzeug
      python-dotenv
      requests
      python-dateutil
      celery
      pydantic
      sqlalchemy_utils
      redis
      psycopg2-binary
      rdbbeat
      gunicorn
      Gevent
      Async_timeout
